body{
	margin: 5px 100px 5px;
}
h1{
	font-family: roboto;
	src:url(font/roboto-bold.tff);
	padding-top: 100px;
	padding-right: 500px;
}
h4{
	padding-right: 425px;
}
nav {
	display: flex;
	justify-content: space-evenly;
}
footer {
	font-size: 10px;
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 1.5rem;
}